#define MANIFEST_RESOURCE_ID   1
#define RT_MANIFEST           24
MANIFEST_RESOURCE_ID    RT_MANIFEST  "..\\res\\WorldParty.exe.manifest"
MAINICON                ICON         "..\\icons\\WorldParty.ico"
