[Desktop Entry]
Name=UltraStar WorldParty
Comment=Karaoke game
Exec=/usr/games/ultrastar-worldparty
Icon=/usr/share/icons/hicolor/256x256/apps/ultrastar-worldparty.png
Terminal=false
Type=Application
Categories=Game;
